// colors
$clr-purple-50: hsl(260, 100%, 95%);
$clr-purple-300: hsl(264, 82%, 80%);
$clr-purple-500: hsl(263, 55%, 52%);

$clr-white: hsl(0, 0%, 100%);
$clr-grey-100: hsl(214, 17%, 92%);
$clr-grey-200: hsl(0, 0%, 81%);
$clr-grey-400: hsl(224, 10%, 45%);
$clr-grey-500: hsl(217, 19%, 35%);
$clr-darkblue: hsl(219, 29%, 14%);
$clr-black: hsl(0, 0%, 7%);

$clr-attribution: hsl(228, 45%, 44%);

// fonts
$font-size: 0.8125rem; // 13px
$font-family: 'Barlow Semi Condensed', serif;
$font-regular: 500;
$font-bold: 600;

// spacings
$padding-card: 1.875rem; // 30px
$padding-block-main: 4.375rem; // 70px
$padding-inline-main: 2.1875rem; // 35px
$spacing-m: 1.5rem; // 24px
$spacing-l: 2rem; // 32px
